@use "./variables" as var;

@mixin border-bottom {
  border-bottom: 2px solid var.$border-color-secondary;
  width: max-content;
  text-align: center;
}

@mixin margin-bottom {
  margin-bottom: 150px;
}

@mixin container {
  margin: 0 30px;
  @media (width <= var.$bkp-sm) {
    margin: 0;
  }
}

@mixin shadow($color: var.$sadow-color-primary) {
  box-shadow: 0 2px 10px $color;
}

@mixin background-image($image) {
  background-image: url($image);
  background-size: cover;
}

@function px-to-px($px, $base: 16) {
  @return $px/$base * 1rem;
}
