// BREAKPOINTS
$bkp-base: 0px;
$bkp-sm: 480px;
$bkp-md: 768px;
$bkp-lg: 992px;
$bkp-xl: 1280px;
$bkp-xxl: 1536px;

// COLORS
$bg-color-primary: #bf9410;
$bg-color-secondary: #bf931045;
$bg-color-black: black;
$bg-color-white: #fff;

$sadow-color-primary: rgba(191, 147, 16, 0.5);
$sadow-color-secondary: #bf931045;
$sadow-color-tertiary: #33333318;

$text-color-primary: #333;
$text-color-secondary: #fff;

$border-color-primary: #ccc;
$border-color-secondary: #bf9410;
