@use "variables" as vars;
@use "mixins" as mix;

.header {
  background-color: vars.$color-primary;
  padding: vars.$padding;

  &__nav {
    max-width: vars.$max-width;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    @include mix.respond-to(small) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__link {
    color: vars.$color-text-secondary;
    text-decoration: none;
    font-weight: bold;
    @include mix.transition(color);

    &:hover,
    &:focus {
      color: vars.$color-accent;
    }
  }
}
