@use '/assets/styles/variables' as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background: variables.$color-dark-purple url('../images/halloween.jpg') no-repeat center center fixed;
  color: variables.$color-text;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}
