$bkp-mobile: 500px;

@mixin container {
  max-width: 1366px;
  margin-inline: auto;
}

@mixin container-flex($justify: start) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@function px-to-rem($px, $base: 16) {
  @return $px / $base  * 1rem;
}