$color-purple: #420079cc;
$color-dark-purple: #4c2882;
$color-light-purple: #6600ff2c;
$color-orange: #ff9800;
$color-gold: #ffcc00;
$color-white: #ffffff;
$color-text: #f8f0fd;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-soft-shadow: rgba(255, 152, 0, 0.3);
$color-gray: #ffffff1a;

$font-size-xsmall: 12px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-size-xlarge: 28px;
$font-size-xxlarge: 32px;

$font-weight-bold: bold;

$bkp-mobile: 425px;
$bkp-tablet: 900px;